@page
@model HolaWeb.App.Frontend.Pages.DetallesModel
@{
}
<h1>Detalles de saludo</h1>
<h1>@Model.Saludo.EnEspañol</h1>
<h2>@Model.Saludo.EnIngles</h2>
<h3>@Model.Saludo.EnItaliano</h3>
<h1>@Model.Saludo.Id</h1>
<a class="nav-link text-dark" asp-area="" asp-page="/Saludos/List">Lista de saludos</a>